name: Bundle Analyze

on:
    pull_request:
        branches:
            - next

jobs:
    bundle-analyze:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Build bundle analyzer
              run: pnpm --filter bundle-analyzer build

            - name: Build packages
              run: pnpm build:packages

            - name: Bundle Analyze
              run: pnpm bundle:analyze

