name: CI

on:
    pull_request:
        branches:
            - [next, main]

jobs:
    CI:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Check Types
              run: pnpm check

            - name: Test
              run: pnpm test